.App {
  text-align: center;
  background-color: #ffffe6;
}

.head{
  background-color: #ffffe6;
}

.body{
  background-color: #ffffe6;
}

.welcomeHeader{
  padding: 30px;
  text-align: center;
  background: #FF7F50;
  color: white;
  font: "Helvetica";
  font-size: 40px;
}

.UserRowHome{
  display: inline-block;
}

p{
  display: inline-block;
}

.inputReadWrite{
  display: inline-block;
  width: 400px;
  text-align: left;
  margin-left: 20px;
}

.inputReadOnly{
  display: inline-block;
  margin-left: 20px;
}

.gradingHeader{
  padding: 30px;
  text-align: center;
  background: #FF7F50;
  color: white;
  font: "Helvetica";
  font-size: 40px;
}

.loginSuccess{
  visibility: hidden;
  padding: 30px;
  text-align: center;
  background: #FF7F50;
  color: white;
  font: "Helvetica";
  font-size: 40px;
}

.olList{
  font: "Helvetica";
  font-size: 20px;
  margin-top: 20px;
  display: block;
  background-color: white;
  border: 1px solid black;
}

input{
  font: "Helvetica";
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
  display: block;
  border: 1px solid black;
}

.profMenuButton{
  margin-top: 20px;
  padding: 20px;
  display: none;
  text-align: center;
  border-radius: 50%;
  background: #006400;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font: "Helvetica";
  font-size: 40px;
  cursor: pointer;
}

.getProjectButton{
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  background: #006400;
  color: white;
  font: "Helvetica";
  font-size: 40px;
  cursor: pointer;
}
 .gradeButtonBack{
    margin-top: 20px;
  padding: 20px;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  background: #FF7F50;
  color: white;
  font: "Helvetica";
  font-size: 40px;
  cursor: pointer;
 }
.gradeButton{
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  background: #006400;
  color: white;
  font: "Helvetica";
  font-size: 40px;
  cursor: pointer;
}

.showMenusButton{
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  background: #006400;
  color: white;
  font: "Helvetica";
  font-size: 40px;
  cursor: pointer;
}

.gradeProjButton{
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  background: #006400;
  display: none;
  color: white;
  font: "Helvetica";
  font-size: 40px;
  cursor: pointer;
}

.backToLoginButton{
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  border-radius: 50%;
  background: #FF7F50;
  display: inline-block;
  color: white;
  font: "Helvetica";
  font-size: 40px;
  cursor: pointer;
}

.gradingStartButton{
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  border-radius: 50%;
  background: #006400;
  display: inline-block;
  color: white;
  font: "Helvetica";
  font-size: 40px;
  cursor: pointer;
}

 .gradingStopButton{
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
  margin-left: 20px;
  border-radius: 50%;
  background: #006400;
  display: inline-block;
  color: white;
  font: "Helvetica";
  font-size: 40px;
  cursor: pointer;
 }

 .gradingCheckButton{
   margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  text-align: center;
  border-radius: 50%;
  background: #006400;
  display: block;
  color: white;
  font: "Helvetica";
  font-size: 40px;
  cursor: pointer;
 }

.backDelivButton, .gradingBackButton{
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  text-align: center;
  border-radius: 50%;
  background: #FF7F50;
  display: block;
  color: white;
  font: "Helvetica";
  font-size: 40px;
  cursor: pointer;
}

.delivAppButton{
  margin-top: 20px;
  margin-left: 20px;
  padding: 20px;
  text-align: center;
  border-radius: 50%;
  background: #006400;
  color: white;
  font: "Helvetica";
  font-size: 40px;
  cursor: pointer;
}

.delivShowButton{
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  text-align: center;
  border-radius: 50%;
  background: #006400;
  display: block;
  color: white;
  font: "Helvetica";
  font-size: 40px;
  cursor: pointer;
}

.homeAppButton{
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  display: none;
  background: #006400;
  color: white;
  font: "Helvetica";
  font-size: 40px;
  cursor: pointer;
}

.mainAppButton{
  visibility: hidden;
  padding: 20px;
  text-align: center;
  border-radius: 50%;
  background: #006400;
  color: white;
  font: "Helvetica";
  font-size: 40px;
  cursor: pointer;
}

.mainAppButton:hover{
  opacity: 0.5;
}

.loginButton{
  background-color: #006400;
  color: white;
  padding: 10px;
  font-size: 20px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 50%;
  font: "Helvetica";
  cursor: pointer;
}

.loginButton:hover{
  opacity: 0.5;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
